workflows elad/template/06-send-whatsapp-message.json
{"updatedAt":"2026-03-30T15:17:59.698Z","createdAt":"2026-03-30T15:17:17.279Z","id":"ceun6w1g5pzNgMj6","name":"06 - Send WhatsApp Message","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-send-msg","name":"?? Webhook - Send Message","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"send-whatsapp-message","responseMode":"responseNode"},"webhookId":"send-whatsapp-message-webhook"},{"id":"http-twilio-send","name":"?? Send via Twilio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"credentials":{"httpBasicAuth":{"id":"YOUR_TWILIO_CREDENTIAL_ID","name":"Twilio Basic Auth"}},"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+972559398343"},{"name":"To","value":"=whatsapp:+{{ $json.body.phone }}"},{"name":"Body","value":"={{ $json.body.message }}"}]}}},{"id":"respond-send-msg","name":"?? Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[680,300],"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\"}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}}}],"connections":{"?? Webhook - Send Message":{"main":[[{"node":"?? Send via Twilio","type":"main","index":0}]]},"?? Send via Twilio":{"main":[[{"node":"?? Respond","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ddf00699-0021-4bb2-b0a9-ab35ecad183c","activeVersionId":"ddf00699-0021-4bb2-b0a9-ab35ecad183c","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-03-30T15:17:17.281Z","createdAt":"2026-03-30T15:17:17.281Z","role":"workflow:owner","workflowId":"ceun6w1g5pzNgMj6","projectId":"FMgQA8IpOGp5Mc3G","project":{"updatedAt":"2026-02-19T20:44:58.675Z","createdAt":"2026-02-19T20:43:52.636Z","id":"FMgQA8IpOGp5Mc3G","name":"alon rabi <alonrabi555@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e4b0ec0d-397c-4b16-a795-a322d71f6645"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-30T15:17:59.698Z","createdAt":"2026-03-30T15:17:59.698Z","versionId":"ddf00699-0021-4bb2-b0a9-ab35ecad183c","workflowId":"ceun6w1g5pzNgMj6","nodes":[{"id":"webhook-send-msg","name":"?? Webhook - Send Message","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"send-whatsapp-message","responseMode":"responseNode"},"webhookId":"send-whatsapp-message-webhook"},{"id":"http-twilio-send","name":"?? Send via Twilio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"credentials":{"httpBasicAuth":{"id":"YOUR_TWILIO_CREDENTIAL_ID","name":"Twilio Basic Auth"}},"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+972559398343"},{"name":"To","value":"=whatsapp:+{{ $json.body.phone }}"},{"name":"Body","value":"={{ $json.body.message }}"}]}}},{"id":"respond-send-msg","name":"?? Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[680,300],"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\"}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}}}],"connections":{"?? Webhook - Send Message":{"main":[[{"node":"?? Send via Twilio","type":"main","index":0}]]},"?? Send via Twilio":{"main":[[{"node":"?? Respond","type":"main","index":0}]]}},"authors":"alon rabi","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-30T15:18:07.130Z","id":553,"workflowId":"ceun6w1g5pzNgMj6","versionId":"ddf00699-0021-4bb2-b0a9-ab35ecad183c","event":"activated","userId":"e4b0ec0d-397c-4b16-a795-a322d71f6645"}]}}