workflows elad/template/08-release-conversation.json
{"updatedAt":"2026-03-30T15:16:51.311Z","createdAt":"2026-03-30T15:16:51.311Z","id":"99zWg6ozSMPvqRL9","name":"08 - Release Conversation","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-release","name":"?? Webhook - Release","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"release-conversation","responseMode":"responseNode"},"webhookId":"release-conversation-webhook"},{"id":"postgres-release","name":"?? Set human_agent false","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[460,300],"credentials":{"postgres":{"id":"TARjpUNg1aNm6MC4","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"UPDATE public.leads SET human_agent = false WHERE phone = '{{ $json.body.phone }}'"}},{"id":"respond-release","name":"?? Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[680,300],"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\",\"human_agent\":false}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}}}],"connections":{"?? Webhook - Release":{"main":[[{"node":"?? Set human_agent false","type":"main","index":0}]]},"?? Set human_agent false":{"main":[[{"node":"?? Respond","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f853c26c-9b4d-4a9b-80c2-3f2ffe15355a","activeVersionId":"f853c26c-9b4d-4a9b-80c2-3f2ffe15355a","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-30T15:16:51.312Z","createdAt":"2026-03-30T15:16:51.312Z","role":"workflow:owner","workflowId":"99zWg6ozSMPvqRL9","projectId":"FMgQA8IpOGp5Mc3G","project":{"updatedAt":"2026-02-19T20:44:58.675Z","createdAt":"2026-02-19T20:43:52.636Z","id":"FMgQA8IpOGp5Mc3G","name":"alon rabi <alonrabi555@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e4b0ec0d-397c-4b16-a795-a322d71f6645"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-30T15:16:51.337Z","createdAt":"2026-03-30T15:16:51.337Z","versionId":"f853c26c-9b4d-4a9b-80c2-3f2ffe15355a","workflowId":"99zWg6ozSMPvqRL9","nodes":[{"id":"webhook-release","name":"?? Webhook - Release","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"release-conversation","responseMode":"responseNode"},"webhookId":"release-conversation-webhook"},{"id":"postgres-release","name":"?? Set human_agent false","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[460,300],"credentials":{"postgres":{"id":"TARjpUNg1aNm6MC4","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"UPDATE public.leads SET human_agent = false WHERE phone = '{{ $json.body.phone }}'"}},{"id":"respond-release","name":"?? Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[680,300],"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\",\"human_agent\":false}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}}}],"connections":{"?? Webhook - Release":{"main":[[{"node":"?? Set human_agent false","type":"main","index":0}]]},"?? Set human_agent false":{"main":[[{"node":"?? Respond","type":"main","index":0}]]}},"authors":"alon rabi","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-30T15:16:52.203Z","id":552,"workflowId":"99zWg6ozSMPvqRL9","versionId":"f853c26c-9b4d-4a9b-80c2-3f2ffe15355a","event":"activated","userId":"e4b0ec0d-397c-4b16-a795-a322d71f6645"}]}}